
 <% currently_at %>

<h1 class="mb-4"><%= @question.title%></h1>


<time datetime="<%= @question.formatted_creation_time %>">
<%= @question.formatted_creation_time%>
</time>

<div class="lead my-3">
<%= sanitize @question.body %> <%# unsecure tags and scripts turned off #%>
</div>

<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
<%= link_to 'Delete', question_path(@question), class: 'btn btn-danger',
 data: {method: :delete, confirm: 'Are you sure?'} %>

<hr class="my-3">
<h2>Write your answer</h2>

<%= render 'answers/form'%>


<h2 class="mt-5">Answers</h2>

<%= paginate @answers %>

<%= render partial: 'answers/answer', collection: @answers, 
as: :answer, locals: {question: @question} %>

<%= paginate @answers %>