
 <% currently_at %>

<h1 class="mb-4"><%= @question.title%></h1>


<time datetime="<%= @question.formatted_creation_time %>">
<%= @question.formatted_creation_time%>
</time>

<p class="lead my-3">
<%= @question.body %>
</p>

<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
<%= link_to 'Delete', question_path(@question), class: 'btn btn-danger',
 data: {method: :delete, confirm: 'Are you sure?'} %>

<hr class="my-3">
<h2>Write your answer</h2>

<%= render 'answers/form'%>


<h2 class="mt-5">Answers</h2>

<% @answers.each do  |answer|%>
<article class="mb-3 card">
<div class="card-body">
<section class="card-text">
<small><time datetime="<%= answer.formatted_creation_time %>">
<%= answer.formatted_creation_time%>
</time>

<p class="mt-2 mb-3">
  <%= answer.body%>
</p>
</section>
<%= link_to 'Delete', question_answer_path(@question, answer), class: 'btn btn-danger btn-sm',
data: {method: :delete, confirm: "Are you sure?"} %> 
<%= link_to 'Edit', edit_question_answer_path(@question, answer), class: 'btn btn-secondary btn-sm' %> 
</div>
</article>
<% end %>